.headerB {
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.showcaseCN {
    color: white;
}

.telaCN {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border-radius: 15px;
    color: white;
}

.inputContato {
    width: 40%;
    padding: 2.5px;
    font: 3px;
}

.botaoCN {
    background-color: dodgerblue;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    color: white;
}

.botaoCN:hover {
    background-color: deepskyblue;
    cursor: pointer;
}