<div class="rodape">
    <div class="rodape__social">
    </div>
    <div class="rodape__sobre-o-site">
        <ul>
            <li><a href="#">Sobre nós</a></li>
            <li><a href="#">Como usar o site K7</a></li>
            <li><a href="#">dê seu feedback</a></li>
        </ul>
    </div>
    <div class="rodape__direitos-reservados">
        <span>&copy;2022 - todos os diretios reservados</span>
    </div>
</div>