<header>
    <div class="header">
        <div class="logo">
            <i class="fa-solid fa-bars" id="btn-lateral"></i>
            <figure>
               <img src="/img/logo.png" alt="logo"> 
            </figure>
            
        </div>
        <div class="search-box">
            <input type="search" id="search">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="perfil">
            <i class="fa-solid fa-cart-shopping"></i>
            <i class="fa-solid fa-ellipsis-vertical"></i>
            <div class="login">
                <i class="fa-solid fa-user-tie"></i></i>
                fazer login
            </div>
        </div>
    </div>
</header>