@charset 'UTF-8';
@use "../abstracts/glob"as abstracts;
@use "../components/forms"as forms;

* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

}

html {

  body {
    background-color: abstracts.$colors-primary;
    background-image: linear-gradient(cyan);

       a {
        color: black;
        &:hover {
          color: red;
        }
        &:focus {
          color: red;
        }
    }
  }
}