@charset 'UTF-8';

.rodape{
    margin-top: 20px;
    &__social{

    }
    &__sobre-o-site{
        background-color: rgb(174, 247, 247);
        padding-left: 200px;
        ul {
            li{
                padding: 2px 0;
                a{
                    font-size: 13px;
                    font-weight: bold;
                    text-transform: uppercase;
                    text-decoration: none;
                }
            }
        }
    }
    &__direitos-reservados{
        background-color: white;
        color: black;
        font-size: 13px;
        padding: 10px 0;
        text-align: center;
        height: 3vh;
        text-transform: uppercase;
    }
}