@charset 'UTF-8';
.header{
    display: grid;
    grid-template-columns: 15vw auto auto auto auto auto auto;
    background-color: white;
    font-size: 20px;
    height: 10vh;
    .logo{
        display: flex;
        justify-content: space-around;
        background-color: transparent;
        align-items: center;
        figure{
            img {
                width: 100px;
                height: 50px;
            }
        }
    }
    .search-box{
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: span 5;
        background-color: transparent;
        input {
            height: 25px;
            width: 70%;
        }
        .fa-magnifying-glass{
            padding-left: 5px;
        }
    }
    .perfil{
        display: flex;

        justify-content: space-around;
        align-items: center;
        background-color: transparent;
    }
}