<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema k7</title>
    <!--css-->
    <%- include("partials/header.ejs") %> 
</head>
<body>
    <%- include("partials/navbar") %>
    <main>
        <div class="container-home">
            <aside>
                <div class="container__home__lateral">
                    
                </div>
            </aside>
            <div class="container__home__principal">
                <div class="container__home__principal__card">
                    <img src="https://picsum.photos/200" alt="" class="photo">
                    <div class="container__home__principal__card__descricao">
                        <span>Lorem ipsum dolor sit amet.</span>
                    </div>
                    <div class="container__home__principal__card__preco">
                        
                    </div>
                </div>
                <div class="container__home__principal__card">
                    <img src="https://picsum.photos/200/300" alt="" class="photo">
                    <div class="container__home__principal__card__descricao">
                        Lorem ipsum dolor sit amet consectetur.
                    </div>
                    <div class="container__home__principal__card__preco">
                        
                    </div>
                </div>
                <div class="container__home__principal__card">
                    <img src="https://picsum.photos/200/300" alt="Banda" class="photo">
                    <div class="container__home__principal__card__descricao">
                        <span>Lorem ipsum dolor sit.</span>
                    </div>
                    <div class="container__home__principal__card__preco">
                        <span>12 r$</span>
                    </div>
                </div>
                <div class="container__home__principal__card">
                    <img src="https://picsum.photos/200/300" alt="Banda" class="photo">
                    <div class="container__home__principal__card__descricao">
                        <span>Lorem ipsum dolor sit.</span>
                    </div>
                    <div class="container__home__principal__card__preco">
                        <span>12 r$</span>
                    </div>
                </div>
                <div class="container__home__principal__card">
                    <img src="https://picsum.photos/200/300" alt="Banda" class="photo">
                    <div class="container__home__principal__card__descricao">
                        <span>Lorem ipsum dolor sit.</span>
                    </div>
                    <div class="container__home__principal__card__preco">
                        <span>12 r$</span>
                    </div>
                </div>
                <div class="container__home__principal__card">
                    <img src="https://picsum.photos/200/300" alt="Banda" class="photo">
                    <div class="container__home__principal__card__descricao">
                        <span>Lorem ipsum dolor sit.</span>
                    </div>
                    <div class="container__home__principal__card__preco">
                        <span>12 r$</span>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include("partials/footer") %> 
</body>
</html>