<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem vindo ao K7</title>
    <!--css-->
    <%- include('partials/header.ejs');%>
</head>

<body>
    <main>
        <div class="main__login">
            <div class="main__login__left">
                <h1>Filmes, séries e muito mais.</h1>
                <h2>alugue aquele seu preferido só para assistir de novo.</h2>
                <img src="/img/movie-night-animate.svg" alt="gif do site">
            </div><!--final left-->
            <div class="main__login__right">
                <div class="main__login__right__card">
                    <form action="home.html" method="post">
                        <h1>Entrar no locadora k7</h1>
                        <div class="main__login__right__card__textfild">
                            <label for="usuario">Usuário</label>
                            <input type="email" name="usuario" id="usuario" placeholder="seu e-mail" required>
                        </div>
                        <div class="main__login__right__card__textfild">
                            <label for="senha">Senha</label>
                            <input type="password" name="senha" id="senha" placeholder="sua senha" required>
                        </div>
                        <button type="submit" class="main__login__right__card__btn">Entrar</button>
                    </form>
                    <div class="main__login__right__cadastrar">
                        <p>Novo por aqui? <a href="/cadastro">Cadastra-se agora</a></p>
                    </div>
                </div>
            </div><!--final right-->
        </div><!--final main__login-->
    </main>
</body>

</html>