/*base*/
/*login*/
form {
  width: 100%;
}

* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html body {
  background-color: #93d5f3;
  background-image: linear-gradient(cyan);
}
html body a {
  color: black;
}
html body a:hover {
  color: red;
}
html body a:focus {
  color: red;
}

.main__login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__login__left {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__login__left > h1 {
  color: white;
  text-shadow: 1px 1px 10px black, -1px -1px 10px black;
}
.main__login__left > h2 {
  text-align: center;
  text-transform: capitalize;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  text-shadow: 1px 1px 10px black, -1px -1px 10px black;
}
.main__login__left > img {
  width: 70%;
}
.main__login__right {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}
.main__login__right__card {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background-color: rgb(58, 111, 229);
  border-radius: 20px;
  box-shadow: 0px 10px 40px rgba(0, 0, 86, 0.4392156863);
}
.main__login__right__card h1 {
  text-align: center;
  text-transform: capitalize;
  color: rgb(255, 255, 255);
  font-weight: bolder;
}
.main__login__right__card__textfild {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}
.main__login__right__card__textfild > input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background-color: #f9f9fa;
  color: black;
  font-size: 0.9rem;
  box-shadow: 0px 10px 40px rgba(50, 50, 253, 0.5882352941);
  outline: none;
  box-sizing: border-box;
}
.main__login__right__card__textfild > input::placeholder {
  color: #1c2222;
}
.main__login__right__card__textfild > label {
  color: rgba(240, 255, 255, 0.8705882353);
  margin-bottom: 10px;
}
.main__login__right__card__btn {
  padding: 16px 0px;
  margin: 25px 0;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: white;
  color: rgb(0, 0, 0);
  height: auto;
  width: 100%;
  cursor: pointer;
}
.main__login__right__card__btn:hover {
  color: dodgerblue;
}
.main__login__right__cadastrar p {
  color: white;
}
.main__login__right__cadastrar a {
  color: black;
}
.main__login__right__cadastrar a:hover {
  color: darkblue;
  text-decoration: underline;
}

.header {
  display: grid;
  grid-template-columns: 15vw auto auto auto auto auto auto;
  background-color: white;
  font-size: 20px;
  height: 10vh;
}
.header .logo {
  display: flex;
  justify-content: space-around;
  background-color: transparent;
  align-items: center;
}
.header .logo figure img {
  width: 100px;
  height: 50px;
}
.header .search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: span 5;
  background-color: transparent;
}
.header .search-box input {
  height: 25px;
  width: 70%;
}
.header .search-box .fa-magnifying-glass {
  padding-left: 5px;
}
.header .perfil {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
}

.rodape {
  margin-top: 20px;
}
.rodape__sobre-o-site {
  background-color: rgb(174, 247, 247);
  padding-left: 200px;
}
.rodape__sobre-o-site ul li {
  padding: 2px 0;
}
.rodape__sobre-o-site ul li a {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
.rodape__direitos-reservados {
  background-color: white;
  color: black;
  font-size: 13px;
  padding: 10px 0;
  text-align: center;
  height: 3vh;
  text-transform: uppercase;
}

.container__home__lateral {
  color: black;
}
.container__home__principal {
  margin: auto;
  max-width: 1000px;
  display: flex;
  flex-flow: row wrap;
}
.container__home__principal__card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 300px;
  margin: 0 auto;
  height: 600px;
  margin-top: 60px;
  box-sizing: border-box;
  background-color: white;
  padding: 15px 15px 40px;
  height: 450px;
  box-shadow: 1px 1px 1px black;
}
.container__home__principal__card .photo {
  width: 100%;
  height: 60%;
  object-fit: cover;
}
.container__home__principal__card__preco {
  font-size: 20px;
  text-transform: uppercase;
}
.container__home__principal__card .btn-preco {
  color: white;
  text-shadow: 0 0 3px black;
  background-color: #9595fd;
  padding: 10px;
}

/*# sourceMappingURL=style.css.map */
