@charset "UTF-8";
@use "../abstracts/colors" as cor;

.main__login {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .left__login{
        width: 50vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        > {
            h1{
                color: white;
                text-shadow: 1px 1px 2px black ;
            }
            img {
                width:70%;
            }
        } 
    }//final left__login
    .right__login {
        width: 50vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        .card__login {
            width: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 30px 35px;
            background-color: cor.$card-login;
            border-radius: 20px;
            box-shadow: 0px 10px 40px #00005670;
            > {
                h1{
                    color:cor.$title-login;
                    font-weight: bolder;
                }
            }
            .textfild {
                display: flex;
                width: 100%;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                margin: 10px 0px;
                > {
                    input {
                        width: 100%;
                        border: none;
                        border-radius: 10px;
                        padding: 15px;
                        background-color: #f9f9fa;
                        color: black;
                        font-size: .9rem;
                        box-shadow: 0px 10px 40px #3232fd96;
                        outline: none;
                        box-sizing: border-box;
                        &::placeholder {
                            color: #1c2222;
                        }
                    }
                    label {
                        color: #f0ffffde;
                        margin-bottom: 10px;
                    }
                }
            }
            .btn__login {
                width: 100%;
                padding: 16px 0px;
                margin: 25px;
                border:none;
                border-radius: 8px;
                outline: none;
                text-transform: uppercase;
                font-weight: bolder;
                letter-spacing: 3px;
                color:black;
                background-color: cor.$btn-login;
                cursor: pointer;
                box-shadow: 0 10px 40px -12px #00ff8052;
            }
        }
        }//final right__login
}